<!doctype html>
<html>
<head>
	<title>glhf Esports: {{title}}</title>
	<link rel="stylesheet" type="text/css" href="css/glhf.css" />	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script>
		
		function showLogin() {
			var loginBox = document.getElementsByClassName('login')[0];
			console.log(loginBox);
			if (loginBox.style.display == "none" || loginBox.style.display == "") {
				loginBox.style.display = "block";
			} else {
				loginBox.style.display = "none";
			}
		}
		
	</script>
</head>
<body>

<div class="view">
	<div class="logo">
		<a href="/"><img src="/img/glhf-logo-150.png" /></a>
	</div>
	<div class="header">
		<h1>GLHF</h1>
	</div>

	<div class="nav">
		<a class="menu" href="/about">About</a>
		<a class="menu" href="/events">Events</a>
		<a class="menu" href="/gallery">Gallery</a>
		<a class="menu" href="/games">Games</a>
	</div>
	
	<div class="content">
		{{{body}}}
	</div>
	
	<div class="footer">
		<footer>GLHF -- Proudly bringing eSports to Pittsburgh since 2018.</footer>
	</div>
	
	<div class="loginLink">
		<a class="menu" onclick="showLogin()">Login</a>
	</div>
	
	<div class="login">
		<form id="login" class="loginForm" role="form" method="POST">
			<input type="text" placeholder="Username" name="username"></input>
			<input type="password" placeholder="Password" name="password"></input>
			<input type="submit" />
		</form>
	</div>
	<script>
		$(document).ready(function(){
			$('#login').on('submit', function(evt){
				evt.preventDefault();
				var action = $(this).attr('action');
				var $container = $(this).closest('.formContainer');
				$.ajax({
					url: '/process',
					type: 'POST',
					data: $(this).serialize(),
					success: function(data) {
						if (data.success) {
							$container.html('<h2>Thank you!</h2>');
							console.log('Marginal success.');
							console.log(data);
						} else {
							$container.html('There was a problem.');
							console.log('Total failure.');
						}
                                	},
					error: function(){
						alert('There was a problem');
					}
				});
			});
		});

	</script>

	
</div>
</body>
</html>
