<!doctype html>
<html>
<head>
<title>Good Luck Have Fun eSports</title>
</head>
<body>
	{{{body}}}
<div class='nav'>
	<a class='active' href='#about'>About</a>
	<a href='#events'>Events</a>
	<a href='#signup'>Sign Up</a>

	<footer>GLHF -- Proudly bringing eSports to Pittsburgh since 2018.</footer>
</body>
</html>
