<!doctype html>
<html>
<head>
	<title>Good Luck Have Fun eSports</title>
	<link rel="stylesheet" type="text/css" href="css/glhf.css" />	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		
		function showLogin() {
			var loginBox = document.getElementsByClassName('login')[0];
			console.log(loginBox);
			if (loginBox.style.display == "none" || loginBox.style.display == "") {
				loginBox.style.display = "block";
			} else {
				loginBox.style.display = "none";
			}
		}
		
	</script>
</head>
<body>

<div class="view">
	<div class="logo">
		<a href="/"><img src="/img/glhf-logo-150.png" /></a>
	</div>
	<div class="header">
		<h1>GLHF</h1>
	</div>

	<div class="nav">
		<a class="menu" href="/about">About</a>
		<a class="menu" href="/events">Events</a>
		<a class="menu" href="/gallery">Gallery</a>

	</div>
	
	<div class="content">
		{{{body}}}
	</div>
	
	<div class="footer">
		<footer>GLHF -- Proudly bringing eSports to Pittsburgh since 2018.</footer>
	</div>
	
	<div class="loginLink">
		<a class="menu" onclick="showLogin()">Login</a>
	</div>
	
	<div class="login">
		<form class="loginForm" role="form" action="/process?form=login' method="POST">
			<input type="text" placeholder="Username"></input>
			<input type="password" placeholder="Password"></input>
			<input type="submit" />
		</form>
	</div>
	<script>
		$(document).ready(function(){
			$('.loginForm').on('submit', function(evt){
				evt.preventDefault();
				var action = $(this).attr('action');
				var $container = $(this).closest('.formContainer');
				$.ajax({
					url: action,
					type: 'POST',
					data: $(this).serialize(),
					success: function(){
					alert('Success')
					if(alert.success){
                                                $container.html('<h2>Thank you!</h2>' + data.message);                                                                                          
                                        }else{
                                                $container.html('There was a Problem.');
                                        }
                                },
                        error: function(){
                                alart('There was a problem');
                                }
                        });
                });
        });

	</script>

	
</div>
</body>
</html>
