<!doctype html>
<html>
<head>
<title>Good Luck Have Fun eSports</title>
</head>
<body>
	{{{body}}}
<div class='nav'>
	<a class='active' href='#about'>About</a>
	<a href='#events'>Events</a>
	<div class='login'>
		<form>
			<input type='text'>username</input>
			<input type='password'>Password</input>
		</form>
	</div>

	<footer>GLHF -- Proudly bringing eSports to Pittsburgh since 2018.</footer>
</body>
</html>
