<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>About Us</title>

  </head>

  
<br><br><br>
<center>
  <h2>ABOUT Good Luck Have Fun</h2>
</center>
  <p>
  Good Luck Have Fun eSports is an eSports club at located at Point ParK University in Pittsburgh, PA.
  We are a community of gamers who want to grow the eSports community at Point Park and in Pittsburgh. We train the best players in all types of games, so they can one day move up to the Point Park University
  eSports competitive team and then to the professional level one day. We play all types of games;
  RPG, FPS, RTS(Real-time Strategy), turned-based collectable card games, MOBA, and fighting.
</p>
<br><br><br>

  <body>
<div class="w3-container w3-padding-64 w3-center" id="team">
<center>
<h2>OUR Staff</h2>
</center>
<center>
  <H3>~Get to know the staff~</H3>
</center>
    </div>
    </div>

<center>
<table style="width:80%">
  <tr>
    <th>Image</th>
    <th>Image</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>Team Member</td>
    <td>Team Member</td>
    <td>Team Member</td>
  </tr>
  <tr>
    <td>Job title</td>
    <td>Job title</td>
    <td>Job title</td>
  </tr>
  </table>
</center>

<br><br><br>
  <div class="footer">
    <p>eSports</p>
  </div>
  </body>
</html>


