<h2>ABOUT Good Luck Have Fun</h2>

		<p>Good Luck Have Fun eSports is an eSports club at located at Point ParK University in Pittsburgh, PA.</p>
		<p>We are a community of gamers who want to grow the eSports community at Point Park and in Pittsburgh. We train the best players in all types of games, so they can one day move up to the Point Park University</p>
		<p>eSports competitive team and then to the professional level one day. We play all types of games.  RPG, FPS, RTS(Real-time Strategy), turned-based collectable card games, MOBA, and fighting.
</p>

		<h2>Our Staff</h2>
		<H3>~Get to know the staff~</H3>

		<div class="team">
		
			<div class="member">
				<div class="member_pic"><img src="/img/patricknucci.jpg" /></div>
				<h3>Patrick Nucci</h3>
				<p>President</p>
			</div>

			<div class="member">
				<div class="member_pic"><img src="/img/benkarpinski.jpg" /></div>
				<h3>Ben Karpinski</h3>
				<p>Vice President</p>
			</div>
			<div class="member">
				<div class="member_pic"><img src="/img/ethangreen.jpg"/> </div>
				<h3>Ethan Green</h3>
				<p>Treasurer</p>
			</div>
		</div>
