<h2>Mario Kart Tournament Gallery</h2><br><br>

	<div class = "mariokart">
		<img src = 'gallery_img/img1.jpg'>
		<img src = 'gallery_img/img2.jpg'>
		<img src = 'gallery_img/img3.jpg'>
		<img src = 'gallery_img/img4.jpg'>
		<img src = 'gallery_img/img5.jpg'>
		<img src = 'gallery_img/img6.jpg'>
		<img src = 'gallery_img/img7.jpg'>
		<img src = 'gallery_img/img8.jpg'>
		<img src = 'gallery_img/img9.jpg'>
		<img src = 'gallery_img/img10.jpg'>
		<img src = 'gallery_img/img11.jpg'>
		<img src = 'gallery_img/img12.jpg'>
	</div>
