body {
	background-color: #333333;
	color:  #ffffff;
	font-family:  Segoe UI, Arial, Helvetica, sans;
}
div {
	padding:  10px;
}
.view {
	display: grid;
	grid-template-columns: 100px 200px auto 100px;
	grid-template-rows:  100px auto;
	background-color: black;
	background-image: url('/img/glhf-dark.png');
	background-repeat: no-repeat;
	background-position: center;
}
.gridleft {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start:  1;
	grid-row-end:  6;
}
.gridright {
	grid-column-start:  4;
	grid-column-end:  4;
	grid-row-start: 1;
	grid-row-end:  6;
}
.header {
	grid-column-start:  2;
	grid-column-end:  4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.content {
	grid-column-start:  2;
	grid-column-end:  4;
	grid-row-start: 3;
	grid-row-end: 4;
	min-height:  500px;
}
.nav {
	grid-column-start:  2;
	grid-column-end:  4;
	grid-row-start: 1;
	grid-row-end: 2;		
}
.nav a.menu, .loginLink {
	padding: 10px;
	background-color:  #333333;
	color:  #ffffff;
	font-size:  1.5em;
	text-decoration: none;
	border-bottom:  2px white solid;
	border-left:  2px white solid;
	border-top: 1px white solid;
	border-right:  1px white solid;	
	opacity:  0.5;
	cursor: pointer;
}
.nav a.menu {
	width:  100px;
}
.footer {
	grid-column-start:  2;
	grid-column-end:  4;
	grid-row-start: 4;
	grid-row-end: 5;
	padding-bottom:  50px;
}
.loginLink {
	grid-column-start: 4;
	grid-column-end:  4;
	grid-row-start: 1;
	grid-row-end:  2;
	height:  40%;
}
.login {
	grid-column-start: 3;
	grid-column-end:  4;
	grid-row-start: 1;
	grid-row-end:  2;
	display: none;
	justify-self: end;
	background-color: black;
}
.logo {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.nav a:first-child  {
	margin-left:  25px;
}
input {
	display:  block;
	padding-block:  5px;
}
input[type~="text"], input[type~="password"] {
	display:  block;
	padding-bottom:  5px;
	font-family:  Segoe UI, Arial, Helvetica, sans;
	font-size:  1.5em;
	padding: 5px;
	border:  2px #00ff00 solid;
	border-radius:  5px;
	background-color:  #999999;
	margin-bottom:  5px;
}
input[type~="submit"] {
	font-family:  Segoe UI, Arial, Helvetica, sans;
	font-size:  1.5em;
	padding:  5px;
	border:  2px #00ff00 solid;
	margin-left:  auto;
	margin-right: auto;
}
.team {
	display: flex;
	flex-direction:  row;
	flex-wrap:  wrap;
	
}
.member {
	position: relative;
	background-color: rgba(0,0,0, .5);
	align-content:  stretch;
	margin-left:  10px;
}       
